
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    width: 90%;
    margin: 0 auto;
}
/* shared styles */
.btn-primary{
    width: 92px ;
    padding: 8px 20px;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 46px ;
}
/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}
.navbar-content{
    display: flex;
    gap: 45px;
   align-items: center;
 
   border: 2px outset  rgba(255, 255, 255, 0.1);
   border-radius: 39px;
}
.fitness{
    font-weight: 800;
    font-size: 2rem;
}
.navbar-content button, p{
font-size: 1rem;
}


.hamburger{
    display: none;
}
.last-menu{
  margin-right: 10px;
}
/* banner section */
.hero{
   
}
.banner{
    margin-top: 50px;
}




/* responsive styles */
@media screen and (max-width:576px) {

    /* navbar style */

    .hamburger{
        display: block;
        font-size: 2rem;
    }
    .navbar-content{
        display: none;
    }
    .navbar{
        margin-top: 50px ;
    }
}