
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}
/* shared styles */
.h2{
    font-size: 3rem;
    margin-bottom: 14px;
}
.p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
.navbar, .banner , main{
    width: 90%;
    margin: 0 auto;
}
.btn-primary{
    width: 92px ;
    padding: 8px 20px;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 46px ;
}
/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}
.navbar-content{
    display: flex;
    gap: 45px;
   align-items: center;
   border: 2px outset  rgba(255, 255, 255, 0.1);
   border-radius: 39px;
}
.fitness{
    font-weight: 800;
    font-size: 2rem;
}
.navbar-content button, p{
font-size: 1rem;
}


.hamburger{
    display: none;
}
.last-menu{
  margin-right: 10px;
}
/* banner section */
/* habit section */
.habit-section{
    margin-top: 100px;
}
.habit-content{
    text-align: center;
    margin-bottom: 58px;
}
.habit-content h2{
    font-size: 3rem;
    margin-bottom: 14px;
}
.habit-content p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}


.habit-img{
    padding: 0 25px;
}
.habit-img img{
    width: 100%;
    border-radius: 50%;
    border: 2px outset  rgba(255, 255, 255, 0.1);
    

}

.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 2px solid yellow; */
    gap: 40px;
}
.habit{
    /* border: 2px solid red; */
}
.card-content{
    text-align: center;
    margin-top: 30px;
}
.card-content h4{
    font-weight: 600;
    font-size: 1.125rem;
}
.card-content p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}
/* run an extra mile */
.run-container{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.158);
    /* backdrop-filter: blur(1px); */
    border-radius: 18px;

    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.running-img{
    width: 366px;
    height: 312px;
    padding: 30px;
}
.running-img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;

}
.run-content{
    padding: 40px;
}
.rn-btn{
    margin-top: 34px;
    width: 224px ;
    padding: 16px 71px;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 46px ;
}
.run-content p{
    line-height: 22px;
}


/* responsive styles */
@media screen and (max-width:576px) {

    /* navbar style */

    .hamburger{
        display: block;
        font-size: 2rem;
    }
    .navbar-content{
        display: none;
    }
    .navbar{
        margin-top: 50px ;
    }
    /* habits section */
    .card{
        grid-template-columns: 1fr;
    }
    /* run an extra mile */
    .run-container{
        flex-direction: column;
    }
    .run-content h2{
        font-size: 2rem;
    }
    .running-img{
      
        width: 287px;
        height: 170px;
        padding: 30px;
        margin: 0 auto;
    }
    .rn-btn{
       margin-left: 43px;
      
     
    }
    
}